z<ion-content [fullscreen]="true">
  <div class="nav-bar" [class.show]="showNavBar">
    <img src="assets/img/asp-logo.png" alt="ASP Logo" class="asp-logo-small" (click)="goHome()">
    <span>Asociația Studenților Programatori</span>
  </div>

  <ion-button class="logout-button" (click)="logout()">
    <ion-icon name="log-out-outline"></ion-icon>
    Logout
  </ion-button>

  <div class="home-container">
    <div class="logo-section" [class.shrink]="shrinkLogo">
      <img src="assets/img/asp-logo.png" alt="ASP Logo" class="asp-logo">
      <h1>Bine ai venit, {{ username }}! 👋</h1>
      <p>Comunitatea studenților pasionați de programare 💻🚀</p>
    </div>

    <div class="button-section" *ngIf="!isUser">

      <ion-button *ngIf="isAdmin" class="volunteers-button" (click)="openAdminPage()">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        Admin
      </ion-button>

      <ion-button class="volunteers-button" (click)="openVolunteersPage()">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        Voluntari
      </ion-button>

      <ion-button class="volunteers-button" (click)="openTaskPage()">
        <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
        Sarcini
      </ion-button>

      <ion-button *ngIf="isCD" class="volunteers-button" (click)="openOfficePage()">
        <ion-icon name="business-outline" slot="start"></ion-icon>
        Inventar
      </ion-button>
    </div>
    <div class="user-section" *ngIf="isUser">
      <h1>Oups..., se pare că nu ești înregistrat în asociație.</h1>
      <p>Te rugăm să te contactezi Vicepreședinte departamentului tău.</p>
      <p>Dacă nu faci parte din ASP, te așteptăm la recrutări!</p>
    </div>
  </div>
</ion-content>
