<ion-content [fullscreen]="true">
  <div class="nav-bar" [class.show]="showNavBar">
    <img src="assets/img/asp-logo.png" alt="ASP Logo" class="asp-logo-small">
    <span>Asociația Studenților Programatori</span>
  </div>

  <ion-button class="logout-button" (click)="logout()">
    <ion-icon name="log-out-outline"></ion-icon>
    Logout
  </ion-button>

  <div class="home-container">
    <div class="logo-section" [class.shrink]="shrinkLogo">
      <img src="assets/img/asp-logo.png" alt="ASP Logo" class="asp-logo">
      <h1>Bine ai venit, {{ username }}! 👋</h1>
      <p>Comunitatea studenților pasionați de programare 💻🚀</p>
    </div>

    <div class="button-section">
      <ion-button class="volunteers-button" (click)="openVolunteersPage()">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        Volunteers
      </ion-button>

      <ion-button class="volunteers-button" (click)="openTaskPage()">
        <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
        Tasks
      </ion-button>

      <ion-button class="volunteers-button" (click)="openOfficePage()">
        <ion-icon name="business-outline" slot="start"></ion-icon>
        Inventory
      </ion-button>
    </div>
  </div>
</ion-content>
