<ion-content [fullscreen]="true">
  <div class="admin-container">
    <h1>ADMINISTRATOR DASHBOARD</h1>

    <div class="user-list">
      <h2>Users</h2>
      <ul>
        <li *ngFor="let user of users" class="user-card">
          <h3>{{ user.firstName }} {{ user.lastName }} ({{ user.username }})</h3>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Institutional Email:</strong> {{ user.institutionalEmail }}</p>
          <p><strong>Phone:</strong> {{ user.phoneNumber }}</p>
          <p><strong>Role:</strong> {{ user.role }}</p>

          <div class="action-buttons">
            <ion-button color="warning" (click)="editUser(user)">Edit</ion-button>
            <ion-button color="danger" (click)="deleteUser(user.id)">Delete</ion-button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Edit Modal -->
  <ion-modal [isOpen]="isEditModalOpen" (ionModalDidDismiss)="closeEditModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Edit User</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeEditModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">First Name</ion-label>
            <ion-input [(ngModel)]="selectedUser.firstName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input [(ngModel)]="selectedUser.lastName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input [(ngModel)]="selectedUser.phoneNumber"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Role</ion-label>
            <ion-select [(ngModel)]="selectedUser.role">
              <ion-select-option value="ADMINISTRATOR">ADMINISTRATOR</ion-select-option>
              <ion-select-option value="ADMIN">ADMIN</ion-select-option>
              <ion-select-option value="CD">CD</ion-select-option>
              <ion-select-option value="PM">PM</ion-select-option>
              <ion-select-option value="VOLUNTEER">VOLUNTEER</ion-select-option>
              <ion-select-option value="USER">USER</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-button expand="full" (click)="saveUser()">Save</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
